<div class="input-container">
    <input type="text" class="url-input"/>
    <button class="submit-button">SHORTEN!</button>
</div>
<div class="result-container">
    <div class="result">
        <div class="result-url">
            http://short.ie/iWjSxZ
        </div>

        <div class="result-option-container">
            <button class="result-option go-to-url">
                <span>
                    GO
                </span>
            </button>
            <button class="result-option">
                <span>
                    COPY
                </span>
            </button>
            <button class="result-option delete-url">
                <span>
                    DELETE
                </span>
            </button>
        </div>

    </div>

</div>

