<div class="input-container">
    <input [(ngModel)]="url" type="url" class="url-input"/>
    <button class="submit-button" (click)="shortenURL()"
            [disabled]="isLoading">
        {{ isLoading ? 'SENDING...' : 'SHORTEN!'}}
    </button>
</div>
<div class="result-container">
    <div class="result" *ngFor="let result of results">
        <div class="result-url" (click)="goTo(result.originalUrl)">
            <span>
                {{result.shortUrl}}
            </span>
        </div>
        <div class="result-option-container">
            <button class="result-option go-to-url" (click)="goTo(result.originalUrl)">
                <span>
                    GO
                </span>
            </button>
            <button class="result-option" (click)="copyURL(result.shortUrl)">
                <span>
                    COPY
                </span>
            </button>
            <button class="result-option delete-url">
                <span>
                    DELETE
                </span>
            </button>
        </div>
    </div>
</div>

