@import "../../variables";

app-url-shortener {
	
	.input-container {
		height: 50px;
		width: 100%;
		display: flex;
		border-radius: 5px;
		overflow: hidden;
	}
	
	.url-input {
		height: 100%;
		width: 80%;
		font-size: 25px;
		border: none;
		padding: 0 20px;
		
		&:focus {
			outline: none;
		}
	}
	
	.submit-button {
		height: 100%;
		width: 20%;
		min-width: 100px;
		border: none;
		font-size: 15px;
		background-color: map_get($colors, secondary);
		
		&:focus {
			outline: none;
		}
		
		&:hover {
			cursor: pointer;
		}
	}
	
	.result-container {
		width: 100%;
		max-height: 400px;
		margin-top: 20px;
		border-radius: 5px;
		overflow: scroll;
		margin-bottom: 20px;
		
		
		.result {
			width: 100%;
			background-color: map_get($colors, lightListBg);
			height: 80px;
			display: flex;
			position: relative;
			border-top:1px solid darken(map_get($colors, lightListBg), 65);
			
			&:first-of-type{
				border: none;
			}
			
			.result-url {
				height: 100%;
				width: 100%;
				min-width: 0;
				margin: auto 0;
				padding-left: 20px;
				text-overflow: clip;
				cursor: pointer;
				display: flex;
				
				&:hover {
					text-decoration: underline;
				}
				
				span{
					margin: auto 0;
					color: map_get($colors, lightListText);
					font-size: 25px;
					text-decoration: inherit;
				}
			}
			
			.result-option-container {
				height: 100%;
				min-width: 200px;
				margin: auto 0 auto auto;
				display: flex;
				
				.result-option {
					height: 100%;
					width: 100px;
					font-size: 15px;
					background: darken(map_get($colors, lightListBg), 10);
					border: none;
					cursor: pointer;
					
					&:focus {
						outline: none;
					}
					
					&.delete-url {
						background: darken(map_get($colors, lightListBg), 25);
					}
					
					&.go-to-url {
						display: none;
						position: absolute;
						left: 0;
						width: calc(100% - 200px);
						background: map_get($colors, lightListBg);
					}
				}
			}
			
		}
	}
}

@media only screen and (max-width: 680px) {
	.go-to-url{
		display: unset !important;
	}
}