@import "app/home/home.component";
@import "app/url-shortener/url-shortener.component";
@import "animations";

body {
	margin: 0;
	font-family: Courier;
}

* {
	color: map_get($colors, darkText);
}

button:hover {
	opacity: 0.8;
}